<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.kacprzak.eclipse.django_editor.preferences.DjangoPreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.kacprzak.eclipse.django_editor.editors.DjangoEditor"
            contributorClass="org.kacprzak.eclipse.django_editor.actions.DjangoEditorActionContributor"
            default="true"
            extensions="html,htm"
            icon="icons/django.gif"
            id="org.kacprzak.eclipse.django_editor.editors.DjangoEditor"
            name="Django Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.kacprzak.eclipse.django_editor.preferences.DjangoEditorPreferencesPage"
            id="org.kacprzak.eclipse.django_editor"
            name="Django Editor">
      </page>
<!--      
      <page
            category="org.kacprzak.eclipse.django_editor"
            class="org.kacprzak.eclipse.django_editor.preferences.DjangoOutlinePreferencesPage"
            id="org.kacprzak.eclipse.django_editor.preferences.outline"
            name="Outline">
      </page>
-->      
      <page
            category="org.kacprzak.eclipse.django_editor"
            class="org.kacprzak.eclipse.django_editor.templates.DjangoTemplatesPreferencesPage"
            id="org.kacprzak.eclipse.django_editor.preferences.templates"
            name="Templates">
      </page>
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="html,htm"
            id="org.kacprzak.eclipse.django_editor.plugin.content-type"
            name="Django File"
            priority="normal">
      </content-type>
   </extension>
   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="html"
            type="text">
      </fileTypes>
      <fileTypes
            extension="htm"
            type="text">
      </fileTypes>
   </extension>
   <extension point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.kacprzak.eclipse.django_editor.templates.DjangoContextType"
            id="org.kacprzak.eclipse.django_editor.templates.contextType.django_tag"
            name="Django Tag">
      </contextType>
      <include file="templates/default-templates.xml">
      </include>
      <contextType
            class="org.kacprzak.eclipse.django_editor.templates.DjangoContextType"
            id="org.kacprzak.eclipse.django_editor.templates.contextType.django_filter"
            name="Django Filter">
      </contextType>
      <include file="templates/default-filters.xml" >
      </include>
      <contextType
            class="org.kacprzak.eclipse.django_editor.templates.DjangoContextType"
            id="org.kacprzak.eclipse.django_editor.templates.contextType.html_tag"
            name="HTML Tag">
      </contextType>
      <include file="templates/default-html-tags.xml" >
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Toggle comment the selected lines"
            id="org.kacprzak.eclipse.django_editor.contributions.togglecomment"
            name="Toggle Comment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.kacprzak.eclipse.django_editor.contributions.togglecomment"
            contextId="org.kacprzak.eclipse.django_editor.context.djangoEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.kacprzak.eclipse.django_editor.context.djangoEditorScope"
            name="Editing Django Source"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.kacprzak.eclipse.django_editor.actions.DjangoToggleLineCommentHandler"
            commandId="org.kacprzak.eclipse.django_editor.contributions.togglecomment">
         <activeWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="org.kacprzak.eclipse.django_editor.context.djangoEditorScope">
                  </equals>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
</plugin>
